body{
	font-family: "Segoe UI",Arial,sans-serif;
	background: #e6ecf0;
	font-size: 14px;
}

/* Navbar */
.navcss{
	height: 45px;
	background-color: #fff;
	border-bottom: 1px solid #66757f;
	font-weight: bold;
}
ul.nav a{
	color: #66757f !important;
}
ul.nav a:hover {
	border-bottom: 2px solid #1c94e0;
}

ul.nav a:focus {
	color: #1c94e0 !important;
}

.searchtwitter{
	width: 220px;
	height: 32px;
	color: #000;
	border: 1px solid #e6ecf0;
	border-radius: 21px;
	background-color: #f5f8fa;
	font-size: 12px;
	padding: 8px 32px 8px 12px;
}

.avatar{
	border-radius: 50%;
}

.twbutton{
	width: 73px;
	height: 34px;
	margin-left: 10px;
	background-color: #1da1f2;
	color: #fff;
	border: 1px solid #1da1f2;
	border-radius: 100px;
	padding: 6px 16px;
	font-size: 14px;
	font-weight: bold;
}

.btn-outline-success:hover {
    color: #fff;
    background-color:#1c94e0;
    border-color: #1da1f2;
}

/* content */
.con{
	margin-top: 45px;
}

/* User Info*/
.info{
    height: 200px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cover{
	float: right;
	margin-bottom: 5px;
}

.info .avatar{
	margin:-40px 10px 10px 15px;
	float: left;
	border:2px solid #fff;
	position: relative;
}

.name p{
   color: #000;
   font-size: 18px;
   font-weight: bold;
}

#p2{
	font-size: 12px;
    color: #657786;
    margin-top: -20px;
}

.name a{
	color: #000;
}

/*states*/
.state ul li {
	float: left;
	list-style: none;
	float: left;
	margin-top: -10px;
	margin-left: -15px;
}

.state a {
	text-decoration: none;
}

.state a span:hover{
	color: #1da1f2;
}

.what{
	font-size: 12px;
	color: #657786;
	font-weight: bold;
	display: block;
	margin-right: 35px;
}

.how{
	font-size: 18px;
	font-weight: bold;
	color:  #1da1f2;
}

/* Trends */
.trends{
	height: 350px;
    background-color: #fff;
    padding-top: 15px;
}

.trends h3{
	font-size: 18px;
	font-weight: bold;
	display: inline;
	margin-left: 15px;
}

.trend a {
	font-size: 12px;
	color: #1da1f2;
}

.trendslist ul{
	padding-left: 15px;
	padding-top: 5px;
}

.trendslist ul li{
	list-style: none;
	text-align: inherit;
}

.hash{
	font-size: 14px;
	font-weight:bold;
	color: #1da1f2;
}

.num{
	font-size: 12px;
	color: #657786;
	padding-bottom: 5px;
}

/* tweets */
.write{
	height: 58px;
	background-color:#ECF4EB;
	margin-top: 10px;
}

.write .avatar{
	float: left;
	position: absolute;
	left: 28px;
	top: 23px;
}

.write form{
	float: right;
	width: 500px;
	height: 38px;
	padding: 10px 12px;
}

.box input {
	width: 480px;
	height: 38px;
	border: 1px solid #1da1f2;
	border-radius: 10px;
	padding-left: 10px;
}

::placeholder{
	color: #1da1f2;
}

/*.tweets{
	height: 100%;
	background-color: blue;
}*/

.tweet{
	background-color: #fff;
	margin-top:1px;
	margin-bottom: 1px;
}

.twhead{
	margin-left: 10px;
}

.twhead .avatar{
	margin-top: 10px;
	margin-right: 5px;
}

.twhead .user-n{
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.twhead a{
    color: #657786;
    font-size: 14px;
}

.content {
   margin-left: 40px;
   padding-bottom: 30px;
}

.content p{
	margin-top: -20px;
	padding-left: 25px;
}

.content img{
   margin-left: 23px;
   margin-top: -10px;
   border-radius: 5px;
}

/* right side */
.follow{
	height: 270px;
	background-color:#fff;
	margin-top: 10px;
}

.follow h3{
	font-size: 18px;
	font-weight: bold;
	display: inline;
}

.follow .fohead{
	padding-top: 15px;
	padding-left: 15px;
}

.follow span{
	font-size: 12px;
}

.avatar-fo{
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 10px;
}

.follow .info-fo strong{
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.follow .info-fo b{
	font-size: 14px;
	font-weight: bold; 
	color: #657786;
}

.follow .info-fo{
	margin-bottom: 3px;
}

.follow .fol-b{
	width: 90px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
}
.follow .fol-b:hover{
	background-color:#e7f5fe;
	color: #1da1f2;
}

.suggestion .choice{
	width: 225px;
	height:62px;
	margin-left: 15px;
	margin-top: 10px;
	border-bottom: 1px solid #e6ecf0;
}

.choice a strong:hover{
	color: #1da1f2;
}

.about{
	height: 110px;
	background-color:#fff;
	margin-top: 15px;
}

.tw-about{
	padding-top: 15px;
	margin-right: 5px;
}
.about .about-list{
	color: #657786;
	padding-left: 10px;
}
.about-list .about-item{
	list-style: none;
	float: left;
	font-size: 12px;
	padding-right: 8px;
}

.about-link{
	color: #657786;
}